@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My Name is Muhammad Usman Javed. My Roll No is BSEF17A532. This is my Assignment # 3 for EAD Course</p>
